 
  .logincontainer{
    display: flex;
    background-color: #c29d59;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
  }

  .loginpassword{
    gap: 12%;
    
    display: flex;
  }
  
  .login-form {
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 2px;
  }
  
  .logininput {
    background-color: aliceblue;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 6rem;
    padding-left: 6rem;
    line-height: 0;
    border: 1px solid #f0eeee;
    border-radius: 3px;
  }
  
  .login-btn {
    background:  #c29d59;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10.7rem;
    padding-right: 11rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  } 
.login-btn:hover{
  background-color: #4c4a4a ;
}

  .social-buttons {
    display: flex;
    
   gap: 97px;
 
  }
  
  .google-button,
  .facebook-button {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
  .google-button {
    border: 1px solid rgb(122, 90, 90);
    color: brown;
  }
  
  .facebook-button {
    color: rgb(66, 66, 124);
     border: 1px solid rgb(122, 90, 90);
  }
  .sinin{
    color: blue;
  }
  .sinin:hover{
    color: rgb(134, 134, 227);
  }
  @media (max-width:1340) {
  
  .logininput {
    background-color: aliceblue;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 6rem;
    padding-left: 6rem;
    border: 1px solid #f0eeee;
    border-radius: 3px;
  }
  
  .login-btn {
    background:  #c29d59;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10.7rem;
    padding-right: 11rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  } 
  

    
  }

  @media (max-width:768px) {

  .logininput {
    background-color: aliceblue;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 6rem;
    padding-left: 6rem;
    border: 1px solid #f0eeee;
    border-radius: 3px;
  }
  
  .login-btn {
    background:  #c29d59;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10.7rem;
    padding-right: 11rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  } 
  
  
}
@media (max-width:480px) {

  .logininput {
    background-color: aliceblue;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5rem;
    padding-left: 5rem;
    border: 1px solid #f0eeee;
    border-radius: 3px;
  }
  
  .login-btn {
    background:  #c29d59;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 9.5rem;
    padding-right: 10rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  } 
    .social-buttons {
    display: flex;
    
   gap: 55px;
 
  }
  
}

@media (max-width:420px ) {

  .logininput {
    background-color: aliceblue;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5rem;
    padding-left: 5rem;
    border: 1px solid #f0eeee;
    border-radius: 3px;
  }
  
  .login-btn {
    background:  #c29d59;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 9.5rem;
    padding-right: 10rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  } 
    .social-buttons {
    display: flex;
    
   gap: 55px;
 
  }
    .login-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
}
@media (max-width:380px ) {

  .logininput {
    background-color: aliceblue;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 4rem;
    padding-left: 3rem;
    border: 1px solid #f0eeee;
    border-radius: 3px;
  }
  
  .login-btn {
    background:  #c29d59;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8.5rem;
    padding-right: 8.2rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  } 
    .social-buttons {
    display: flex;
    
   gap: 15px;
 
  }
    .login-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
}